table {
    border: 1px solid black;
}

td {
    text-align: left;
}

.align_right {
    text-align: right;
}

.emphasize {
    background-color: #FF9999;
}

.urgent {
    background-color: #FF3333;
}

.crop {
    overflow: hidden;
}

.crop img {
    margin: -25px -50px -5px -10px;
}
